.container-Yara {
    width: 500px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .title {
    color: rgb(212, 19, 125);
    text-align: center;
  }
  img {
    width: 500px;
    height: 380px;
  }
  .button {
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(216, 118, 172);
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  .button:hover {
    background-color: rgb(216, 118, 172);
    color: white;
}
.links {
  display: flex;
  width: 500px;
  justify-content: space-around;
}
